<header>
  <nav>
    <div class="nav-section">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "muwe-logo.svg", height: "65px", width: "65px" %>
        <% end %>
      </div>
    </div>

    <%= link_to new_jam_path do %>
      <div class="organise-jam-button">Organise a Jam</div>
    <% end %>

    <div class="nav-section">
      <% if user_signed_in? %>
        <div class="dashboard"><%= link_to "dashboard", dashboard_path %></div>
        <div class="profile"><%= link_to "Profile", my_profile_path %></div>
        <div class="sign-out"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
        <%= link_to my_profile_path do %>
          <%= image_tag current_user.profile.photo, height: "60px", width: "60px", secure: true, class: "nav-profile-photo" %>
        <% end %>
      <% else %>
        <div class="sign-in"><%= link_to "Sign in", new_user_session_path %></div>
        <div class="sign-up"><%= link_to "Sign up", new_user_registration_path %></div>
      <% end %>
    </div>
  </nav>
</header>
