<%= simple_form_for @jam do |f| %>
  <%= f.input :description %>
  <%= f.input :photo %>
  <%= f.association :music_style, label_method: :music_style %>
  <%= f.input :max_participants, collection: 2..16 %>
  <%= f.input :start_date %>
  <%= f.input :start_time, collection: time_array %>
  <%= f.input :duration, collection: time_array %>
  <%= f.input :privacy %>
  <%= f.fields_for :other do |o| %>
    <%= o.input :given_address %>
  <% end %>
  <%= f.submit %>
<% end %>

<img src="" id="photo_output">
<div class="small-map" id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%= javascript_pack_tag 'image_previewer' %>
<%= javascript_pack_tag 'address_selector' %>
