<% jams.each do |jam| %>
<div class="jam-card">
  <%= link_to "Jam_page", jam_path(jam.id) %>
  <%= image_tag jam.photo %>
  <%= jam.status %>
  <%= jam.user.first_name %>
  <%= jam.music_style.music_style %>
  <%= jam.start_date %>
  <%= jam.start_time %>
  <%= jam.end_time %>
  <%= jam.participants.count %>/<%= jam.max_participants %>
</div>
<% end %>
