<div class="map-section">

  <div class="filter-wrapper wrapper">
    <div class="proximity-data">You and <p id="user-count">0</p> other signed-in Users are around <p id="city">...</p></div>
    <%= render 'searchs/filter_form' %>
  </div>

  <div id="jams" class="jam-wrapper wrapper">
    <%= image_tag "arrow.svg", class: "jam-swiper-button-prev jams-next" %>
    <div class="jam-swiper-container">
      <div class="swiper-wrapper"></div>
    </div>
    <%= image_tag "arrow.svg", class: "jam-swiper-button-next jams-previous" %>
  </div>

  <div class="map-wrapper">
    <div class="big-map" id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>

<div class="posts-section">
  <div id="local-posts" class="local-post-wrapper wrapper">
    <%= image_tag "arrow.svg", class: "local-post-swiper-button-prev local-posts-next" %>
    <div class="local-post-swiper-container">
      <div class="swiper-wrapper"></div>
    </div>
    <%= image_tag "arrow.svg", class: "local-post-swiper-button-next local-posts-previous" %>
  </div>
</div>

<%= javascript_pack_tag 'init_mapbox' %>
<%= javascript_pack_tag 'swiper' %>
